.accordion-button {
    background-color: #f8f9fa;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
}

.accordion-button.collapsed {
    background-color: #f8f9fa;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #f8f9fa;
    box-shadow: none;
}